<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        @*@Styles.Render("~/bundles/myCss");*@
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </div>
    <footer class="panel-footer">
        @*@RenderSection("footer", true)*@
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
